body {
      font-family: 'arial', Times, serif;
      margin: 20px;
      background-color: #f9f9f9;

      h1{
            color: black;
            text-align: center;
            font-size: 32px;
            font-weight: bold;
            font-family: 'times new roman' , Times, serif;
      }
      h2{
            color: black;
            font-weight: bold;
            
      }
      button{
            color: white;
            background-color: green;
            border: 5px;
            cursor: pointer;
      }
      button:hover{
            background-color: #218838;
      }
      input,button{
            width: 50%;
            padding: 10px;
            border-radius: 4px;
            
      
            
            
